html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#FF9900, #FF99CC);
}

label, input, select {
  display: block;
}

button {
  margin-top: 10px;
}

.btn {
  border-radius: 2px;
}

form button {
  margin-top: 2px;
}

h1 {
  text-align: center;
}

p {
  font-size: 2rem;
}
